.kinozal {
  background: #1C1413;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .kinozal {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.kino__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.kino__pic {
  width: 96px;
  height: 64px;
  border-radius: 2px;
}

.kino__h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 52px;
  text-align: center;
}

.kino__position {
  text-align: center;
}

.kino_title {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137.5%;
  /* or 33px */
  text-align: center;
  color: #9B9D9F;
  margin-bottom: 93px;
}

.kino__pic-start,
.kino__pic-ivi,
.kino__pic-more,
.kino__pic-megogo,
.kino__pic-okko,
.kino__pic-premier,
.kino__pic-tvoekino,
.kino__pic-armenia {
  width: 96px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kino__pic-start:hover, .kino__pic-start:focus,
.kino__pic-ivi:hover,
.kino__pic-ivi:focus,
.kino__pic-more:hover,
.kino__pic-more:focus,
.kino__pic-megogo:hover,
.kino__pic-megogo:focus,
.kino__pic-okko:hover,
.kino__pic-okko:focus,
.kino__pic-premier:hover,
.kino__pic-premier:focus,
.kino__pic-tvoekino:hover,
.kino__pic-tvoekino:focus,
.kino__pic-armenia:hover,
.kino__pic-armenia:focus {
  opacity: 1;
  -webkit-box-shadow: 0px 4px 4px rgba(231, 227, 10, 0.329);
          box-shadow: 0px 4px 4px rgba(231, 227, 10, 0.329);
}

.kino__item {
  position: relative;
  margin: 15px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kino__item:hover .kino__pic-ivi,
.kino__item:focus .kino__pic-ivi {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #EC174F;
          box-shadow: 0 1.25rem 3rem -1.25rem #EC174F;
}

.kino__item:hover .kino__pic-more,
.kino__item:focus .kino__pic-more {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #FFFFFF;
          box-shadow: 0 1.25rem 3rem -1.25rem #FFFFFF;
}

.kino__item:hover .kino__pic-megogo,
.kino__item:focus .kino__pic-megogo {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #22C3B1;
          box-shadow: 0 1.25rem 3rem -1.25rem #22C3B1;
}

.kino__item:hover .kino__pic-okko,
.kino__item:focus .kino__pic-okko {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #4F1E80;
          box-shadow: 0 1.25rem 3rem -1.25rem #4F1E80;
}

.kino__item:hover .kino__pic-premier,
.kino__item:focus .kino__pic-premier {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #FECB7C;
          box-shadow: 0 1.25rem 3rem -1.25rem #FECB7C;
}

.kino__item:hover .kino__pic-tvoekino,
.kino__item:focus .kino__pic-tvoekino {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #BFCC42;
          box-shadow: 0 1.25rem 3rem -1.25rem #BFCC42;
}

.kino__item:hover .kino__pic-armenia,
.kino__item:focus .kino__pic-armenia {
  -webkit-box-shadow: 0 1.25rem 3rem -1.25rem #F1A828;
          box-shadow: 0 1.25rem 3rem -1.25rem #F1A828;
}

body {
  font-family: 'Raleway', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#000)), #2c2525;
  background: linear-gradient(0deg, #000, #000), #2c2525;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  font-weight: 600px;
  line-height: 1.166;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C1413;
}

.devices__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1C1413;
}

@media screen and (max-width: 479px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
  }
}

.clients__nane {
  height: 92px;
  background: #1C1413;
}

@media screen and (max-width: 479px) {
  .clients__nane {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .clients__nane {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__nane {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    background: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .clients__nane {
    width: 170px;
    margin: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__btn {
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #922187;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.clients__btn:hover, .clients__btn:focus {
  border-color: #0c7b15;
  cursor: pointer;
}

.clients__btn:hover svg,
.clients__btn:focus svg {
  fill: #922121;
}

@media screen and (max-width: 479px) {
  .clients__btn {
    height: 92px;
  }
}

@media screen and (min-width: 480px) {
  .clients__btn {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients__btn {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__btn {
    width: 170px;
  }
}

.clients__logo {
  width: 100px;
  height: 100px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .clients__logo {
    width: calc((100% - 2 * 15px) / 1);
    margin: 15px;
  }
}

.devices_header {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 690px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8))), url(../../img/hero/hero.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */