.header {
  width: 100%;
  color: #ffffff;
  border-bottom: #9b9d9f solid 1px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%) scale(1);
          transform: translate(-50%) scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hidden {
  text-align: center;
  display: none;
}

.headerlogo {
  width: 160px;
}

.headertel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 30px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headertel:focus, .headertel:hover {
  color: #9b9d9f;
}

.headermenu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 16px;
  color: #FFFFFF;
  border: #9b9d9f45 solid 2px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headermenu:focus, .headermenu:hover {
  border: #FFFFFF solid 2px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 690px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8))), url(../img/hero/hero.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.37;
  text-align: center;
  color: #FFFFFF;
  margin: 50px auto;
}

.hero_description {
  max-width: 554px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  color: #9B9D9F;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.37;
}

.hero_description span {
  color: #F60;
}

.videoteka {
  padding: 30px 0;
  background: #1b1213;
  color: #ffffff;
}

.masonry {
  -webkit-columns: 3;
          columns: 3;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

@media (max-width: 1200px) {
  .masonry {
    -webkit-columns: 3;
            columns: 3;
  }
}

@media (max-width: 768px) {
  .masonry {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (max-width: 500px) {
  .masonry {
    -webkit-columns: 1;
            columns: 1;
  }
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}

.masonry .grid:before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}

.masonry .grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.masonry .grid__author {
  font-size: 14px;
  font-weight: 300;
}

.masonry .grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.masonry .grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masonry .grid__tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.mt-auto {
  margin-top: auto;
}

.kinozal {
  background: #1b1213;
  color: #ffffff;
  padding: 35px 0;
}

.kino__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 52px;
}

.kino__h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 52px;
  text-align: center;
}

.kino__position {
  text-align: center;
}

.kino_title {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137.5%;
  /* or 33px */
  text-align: center;
  color: #9B9D9F;
  margin-bottom: 93px;
}

.kino__pic {
  width: 96px;
  height: 64px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.kino__pic:hover, .kino__pic:focus {
  opacity: 1;
}

.kino__item {
  width: 110px;
  position: relative;
  margin: 15px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  font-weight: 700px;
  line-height: 1.166;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.devices {
  padding: 30px 0;
  background: #1b1213;
  color: #ffffff;
}

.devices_background {
  background-color: #343a40;
}

.devices__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}

.devices__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .devices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
  }
}

.clients__logo {
  width: 100px;
  height: 100px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .clients__logo {
    width: calc((100% - 2 * 15px) / 1);
    margin: 15px;
  }
}

.devices_header {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subscription {
  padding: 40px 0;
}

.subscription-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.subscription__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 80px;
  text-align: center;
  color: #000000;
}

.subscription-card img {
  border-radius: 10px;
  border: #9b9d9f45 solid 2px;
}

.subscription-card {
  width: 320px;
  height: 426px;
  margin: 15px;
  padding: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
          box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: #9b9d9f45 solid 1px;
  cursor: pointer;
  overflow: hidden;
}

.subscription-card:hover, .subscription-card:focus {
  -webkit-box-shadow: 0 14px 44px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 44px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -5px), scale(1);
          transform: translate(0, -5px), scale(1);
}

.text_card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-right: 8px;
}

.card_price {
  color: #ff6600;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.006em;
}

.card_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
}

.console {
  padding: 100px 0;
  background: #1b1213;
  color: #ffffff;
  text-align: center;
}

.console_img {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.console_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 60px;
}

.console_eva {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.console_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.37;
  margin-bottom: 35px;
}

.console_description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.37;
  color: #9B9D9F;
  margin-bottom: 35px;
}

.footer {
  background: #1b1213;
  color: #ffffff;
  border-top: #9b9d9f solid 1px;
}

.footer_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_list li:not(:last-child) {
  padding-left: 20px;
}

.footer_img {
  width: 112px;
  height: 25px;
}

.footer_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137.5%;
}

.hero_button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 20px;
  width: 256px;
  background-color: #F60;
  border-color: #F60;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_button:hover {
  background-color: #f40;
  border-color: #cc5200;
  cursor: pointer;
}

.hero_button:focus {
  color: #ffffff;
  background-color: #d95700;
  border-color: #cc5200;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 125, 38, 0.5);
          box-shadow: 0 0 0 0 rgba(255, 125, 38, 0.5);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */