.hero_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;    
    color: #FFFFFF;
    padding: 12px 10px;
    width: 100%;
    background-color: #F60;
    border-color: #F60;
    // background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {        
        background-color: #f40;
        border-color: #cc5200;
        cursor: pointer;
    }

    &:focus {
        color: #ffffff;
        background-color: #d95700;
        border-color: #cc5200;
        box-shadow: 0 0 0 0 rgba(255, 125, 38, 0.5);
        cursor: pointer;
    }

    @media screen and (max-width: 479px) {
        
    }

    @media screen and (min-width: 480px) {
        // font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        padding: 14px 20px;
        width: 220px;
        border-radius: 7px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        padding: 18px 20px;
        width: 256px;
    }
}

.subscription_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    padding: 12px 40px;
    background-color: #F60;
    border-color: #F60;
    // background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {        
        background-color: #f40;
        border-color: #cc5200;
        cursor: pointer;
    }

    &:focus {
        color: #ffffff;
        background-color: #d95700;
        border-color: #cc5200;
        box-shadow: 0 0 0 0 rgba(255, 125, 38, 0.5);
        cursor: pointer;
    }

    @media screen and (max-width: 479px) {
        
    }

    @media screen and (min-width: 480px) {
        
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        padding: 12px 20px;
        width: 120px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        padding: 18px 20px;
        width: 200px;
    }
}