.hero_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;    
    color: #FFFFFF;
    padding: 20px 18px;
    background-color: #FF6600;
    border-radius: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #f40;
        // border-color: #FF6600;
        cursor: pointer;
    }
}