.devices{
    padding: 30px 0;
    background: #1b1213;
    color: #ffffff;
}

.devices_background {
    background-color: #343a40;
}

.devices__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    // margin-bottom: 80px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.devices__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // background: #1C1413;
    

    @media screen and (max-width: 479px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin: 0px;
        justify-content: space-evenly;
    }
}

.clients__logo {
    width: 100px;
    height: 100px;
    fill: #6c757d;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        width: calc((100% - 2 * 15px) / 1);
        margin: 15px;
    }

    &:hover,
    &:focus {
        fill: #F60;
    }
}


.devices_header {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
}