.footer {
    background: #1b1213;
    color: #ffffff;
    border-top: #9b9d9f solid 1px;
    padding: 20px 0;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
        padding: 20px 0;
    }
}

.footer_position {
    text-align: center;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
    }
}

.footer_list {
    text-align: center;
    margin-bottom: 5px;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
        display: flex;

        & li:not(:last-child) {
            padding-left: 20px;
        }
    }
}

.footer_img {
    // height: 25px;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
        width: 90px;
    }

    @media screen and (min-width: 768px) {
        width: 100px;
    }

    @media screen and (min-width: 1200px) {
        width: 112px;
    }
}

.footer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.37;
    margin-bottom: 5px;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}

.proba {
    display: flex;
    justify-content: space-between;
}

// .proba li {
//     display: block;
// }

.width {
    width: 96px;
    height: 68px;
    margin: 15px;
}

.start {
    display: block;
    background-image: url(../../img/kinozal/start.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.start:hover,
.start:focus {
    background-image: url(../../img/kinozal/start_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #e00a1e;
}

.ivi {
    display: block;
    background-image: url(../../img/kinozal/ivi.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ivi:hover,
.ivi:focus {
    background-image: url(../../img/kinozal/ivi_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #ec174f;
}

.more {
    display: block;
    background-image: url(../../img/kinozal/more.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.more:hover,
.more:focus {
    background-image: url(../../img/kinozal/more_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #ffffff;
}

.megogo {
    display: block;
    background-image: url(../../img/kinozal/megogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.megogo:hover,
.megogo:focus {
    background-image: url(../../img/kinozal/megogo_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #22c3b1;
}

.okko {
    display: block;
    background-image: url(../../img/kinozal/okko.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.okko:hover,
.okko:focus {
    background-image: url(../../img/kinozal/okko_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #4f1e80;
}

.premier {
    display: block;
    background-image: url(../../img/kinozal/premier.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.premier:hover,
.premier:focus {
    background-image: url(../../img/kinozal/premier_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #fecb7c;
}

.tvoekino {
    display: block;
    background-image: url(../../img/kinozal/tvoekino.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.tvoekino:hover,
.tvoekino:focus {
    background-image: url(../../img/kinozal/tvoekino_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #bfcc42;
}

.armenia {
    display: block;
    background-image: url(../../img/kinozal/armenia.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.armenia:hover,
.armenia:focus {
    background-image: url(../../img/kinozal/armenia_h.png);
    box-shadow: 0 2.25rem 4rem -1.25rem #f1a828;
}
