.header {
    width: 100%;
    border-bottom: #9b9d9f solid 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(1);
    display: flex;

    @media screen and (max-width: 479px) {
        padding: 5px 0;
    }

    @media screen and (min-width: 480px) {
        padding: 5px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 10px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 20px 0;
    }
}

.headerbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
    }
}

.headerlogo {
    width: 85px;

    @media screen and (max-width: 479px) {
    }

    @media screen and (min-width: 480px) {
        width: 90px;
    }

    @media screen and (min-width: 768px) {
        width: 120px;
    }

    @media screen and (min-width: 1200px) {
        width: 160px;
    }
}

.headertel {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;

    &:focus,
    &:hover {
        color: #9b9d9f;
    }

    @media screen and (max-width: 479px) {
        font-size: 10px;
    }

    @media screen and (min-width: 480px) {
        font-size: 12px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}

.headermenu {
    border: #9b9d9f45 solid 2px;
    border-radius: 7px;
    padding: 2px 10px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: #ffffff solid 2px;
    }

    @media screen and (max-width: 479px) {
        font-size: 12px;
    }

    @media screen and (min-width: 480px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        padding: 6px 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        padding: 10px 16px;
    }
}

.headermenu span {
    width: 100%;
    border: 2px solid var(--btn-bg-color);
}

.headermenu span::after {
    width: 100%;
    border: 2px solid var(--btn-bg-color);
    padding: 3px;
}

.headermenu span::before {
    width: 100%;
    border: 2px solid var(--btn-bg-color);
    padding: 3px;
}
