.hero {
    display: flex;
    align-items: center;
    text-align: center;    
    // max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 690px;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)), url(../../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_title {
    // max-width: 875px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.37;
    text-align: center;    
    color: #FFFFFF;
    margin: 50px auto;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 50px;
}

.hero_description {
    max-width: 554px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: #9B9D9F;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.37;
}

.hero_description span {
    color: #F60
}