.hero {
    display: flex;
    align-items: center;
    text-align: center;    
    // max-width: 1440px;
    margin-left: auto;
    margin-right: auto;    
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)), url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 479px) {
        padding: 70px 0px;
    }

    @media screen and (min-width: 480px) {
        height: 600px;
    }

    @media screen and (min-width: 768px) {
        height: 600px;
    }
    
    @media screen and (min-width: 1200px) {
        height: 690px;
    }
}

.hero_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.37;
    text-align: center;    
    color: #FFFFFF;
    

    @media screen and (max-width: 479px) {
        font-size: 16px;
    }

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 35px;
        margin: 50px auto;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 40px;
    }
}

.hero_description {
    // max-width: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    text-align: start;
    color: #9B9D9F;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.37;

    @media screen and (max-width: 479px) {
        
    }

    @media screen and (min-width: 480px) {
        max-width: 400px;
        font-size: 16px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        max-width: 554px;
        text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
        
    }
}

.hero_description span {
    color: #F60
}