.kinozal {
  padding: 35px 0;
}

.kino__h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 32px;
  text-align: start;

  @media screen and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 26px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
    margin-bottom: 52px;
  }
}

.kino__position {
  text-align: start;

  @media screen and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
  }
}

.kino_title {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-align: start;
  color: #9b9d9f;

  @media screen and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
    max-width: 538px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 738px;
    font-size: 24px;
    margin-bottom: 93px;
  }
}

.proba {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;

  @media screen and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.proba li {
  @media screen and (max-width: 1199px) {
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.width {
  width: 96px;
  height: 68px;

  @media screen and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.start {
  display: block;
  background-image: url(../img/kinozal/start.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start:hover,
.start:focus {
  background-image: url(../img/kinozal/start_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #e00a1e;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ivi {
  display: block;
  background-image: url(../img/kinozal/ivi.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ivi:hover,
.ivi:focus {
  background-image: url(../img/kinozal/ivi_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #ec174f;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more {
  display: block;
  background-image: url(../img/kinozal/more.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more:hover,
.more:focus {
  background-image: url(../img/kinozal/more_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.megogo {
  display: block;
  background-image: url(../img/kinozal/megogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.megogo:hover,
.megogo:focus {
  background-image: url(../img/kinozal/megogo_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #22c3b1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.okko {
  display: block;
  background-image: url(../img/kinozal/okko.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.okko:hover,
.okko:focus {
  background-image: url(../img/kinozal/okko_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #4f1e80;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.premier {
  display: block;
  background-image: url(../img/kinozal/premier.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.premier:hover,
.premier:focus {
  background-image: url(../img/kinozal/premier_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #fecb7c;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tvoekino {
  display: block;
  background-image: url(../img/kinozal/tvoekino.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tvoekino:hover,
.tvoekino:focus {
  background-image: url(../img/kinozal/tvoekino_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #bfcc42;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.armenia {
  display: block;
  background-image: url(../img/kinozal/armenia.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.armenia:hover,
.armenia:focus {
  background-image: url(../img/kinozal/armenia_h.png);
  box-shadow: 0 2.25rem 4rem -1.25rem #f1a828;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
