.kinozal {  
  background: #1b1213;
  color: #ffffff;
  padding: 35px 0;
  
  // @media screen and (min-width: 1200px) {
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  // }
  
}

.kino__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 52px;
}

.kino__h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;    
  font-size: 50px;
  margin-bottom: 52px;
  text-align: center;
}

.kino__position {
  text-align: center;
  // display: flex;
  // justify-content: center;
}

.kino_title{
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137.5%;
    /* or 33px */  
  text-align: center;  
  color: #9B9D9F;
  margin-bottom: 93px;
}

.kino__pic{
  width: 96px;
  height: 64px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  // transform: translateY(0%);
  opacity: 0;
  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, 
  &:focus {
    // box-shadow: 0 1.25rem 3rem -1.25rem #E00A1E;
    // transform: translateY(100%);
    opacity: 1;
    // box-shadow: 0 1.25rem 3rem -1.25rem #F1A828;
    // box-shadow: 0px 4px 4px rgba(231, 227, 10, 0.329);
  }
}

.kino__item {
  width: 110px;
  position: relative;
  margin: 15px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // @media screen and (min-width: 768px) {
  //   padding: 20px 24px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding: 63px 24px;
  // }
}