.mobilmenu {
    position: fixed;
    width: 352px;
    height: 100vh;
    // padding: 0;
    // margin: 0;
    // border-radius: 0;
    top: 0;
    right: 0;
    // bottom: 0;
    // overflow: auto;
    background: #000;
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
    // transition: all 0.3s;
    // display: block;
    text-align: start;
}

.mobilmenu__header {
    border-bottom: 1px solid #282828;
    text-align: end;
    padding: 15px 25px;
    // display: flex;
    // align-items: center;
    // font-weight: 400;
    // border: #9b9d9f45 solid 2px;
    // border-radius: 7px;
    // padding: 8px 18px;
    // cursor: pointer;
    // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:focus,
    // &:hover {
    //     border: #ffffff solid 2px;
    // }
}

// .mobilmenu__closes span,
// .mobilmenu__closes::after,
// .mobilmenu__closes::before {
//     position: absolute;
//     left: 0;
//     height: 10%;
//     width: 100%;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     background-color: var(--btn-primary-text-color);
// }

// .mobilmenu__closes::after,
// .mobilmenu__closes::before {
//     content: "";
// }

// .mobilmenu__closes::before {
//     top: 0;
// }

// .mobilmenu__closes::after {
//     bottom: 0;
// }

// .mobilmenu__closes span {
//     top: 50%;
//     transform: scale(1) translate(0px, -50%);
// }

// .mobilmenu__header {
//     display: block;
//     position: relative;
//     width: 30px;
//     height: 18px;
//     cursor: pointer;
// }

// .mobilmenu__closes {
// }

.mobilmenu__text {
    font-size: 32px;
}

.mobilmenu__item {
    padding: 15px 25px;
    border-bottom: 1px solid #282828;
}

.mobilmenu__list li,
.mobilmenu__list a {
    font-size: 20px;
}

.mobilmenu__text {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    border: #9b9d9f45 solid 2px;
    border-radius: 7px;
    padding: 8px 18px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: #ffffff solid 2px;
    }
}

.mobilmenu__text span,
.mobilmenu__text::after,
.mobilmenu__text::before {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--btn-primary-text-color);
}

.mobilmenu__text::after,
.mobilmenu__text::before {
    content: "";
}

.mobilmenu__text::before {
    top: 0;
}

.mobilmenu__text::after {
    bottom: 0;
}

.mobilmenu__text span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.mobilmenu__text {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
}
