.subscription {
    padding: 40px 0;
}

.subscription-wrapper {
    // margin-right: 16px;
    // perspective: 300px;
    // perspective-origin: 50%;
    display: flex;
    // margin: -15px;
    margin-bottom: 90px;
}

.subscription__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
    color: #000000;

    @media screen and (max-width: 479px) {
        
    }
    
    @media screen and (min-width: 480px) {
        
    }
    
    @media screen and (min-width: 768px) {
        font-size: 35px;
        margin-bottom: 25px;
    }
    
    @media screen and (min-width: 1200px) {
        
    }
}

.subscription-card img {
    border-radius: 10px;;
    border: #9b9d9f45 solid 2px;

}

.subscription-card {
    // width: calc((100% - 8 * 15px) / 4);
    width: 320px;
    height: 426px;
    margin: 15px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    transition: all 250ms;
    align-items: center;
    border-radius: 16px;
    border: #9b9d9f45 solid 1px;
    cursor: pointer;
    overflow: hidden;

    &:hover, &:focus {
        box-shadow: 0 14px 44px rgba(0, 0, 0, 0.2);
        transform: translate(0,-5px), scale(1);
    }
}

.text_card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-right: 8px;
}

.card_price{
    color: rgb(255, 102, 0);
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.006em;
}

.card_position{
    display: flex;
    padding: 16px 32px;
    // margin-right: 8px;
}