.subscription_conteiner{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-wrapper{
    // margin-right: 16px;
    // perspective: 300px;
    // perspective-origin: 50%;
    display: flex;
    margin: -15px;
}

.card {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    padding: 20px;
    background: #ffffff;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    // 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;
//   background-color: gainsboro;
//   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
//   box-sizing: border-box;
//   border-radius: 4px;
//   cursor: pointer;
//   overflow: hidden;
//   position: relative;
//   transition-duration: 0.4s;
//   transition-property: box-shadow, filter, transform;
//   transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
//   transform-origin: 50% 50%;
//   transform-style: preserve-3d;
//   width: 320px;
//   height: 468px;
//   margin: 15px;
//   background: #fff;
//   border-radius: 16px;
//   padding: 34px 32px 32px;
//   box-shadow: 0 24px 64px rgb(0 0 0);
//   transition: all .3s;

    &:hover, &:focus {
    box-shadow: 0 14px 44px rgba(0, 0, 0, 0.2);
    transform: translate(0,-5px);
  }

//   &:hover {
//     box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
//     filter: brightness(1.1) contrast(0.95) saturate(1);
//     transform: rotateX(3deg) translateZ(15px);
//   }

//   &:hover .card-shine {
//     opacity: 0.2;
//     transform: rotateZ(210deg) translateX(12%) translateY(32%);
//   }

//   & img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//   }
}