.subscription_conteiner{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-wrapper{
    // margin-right: 16px;
    // perspective: 300px;
    // perspective-origin: 50%;
    display: flex;
    margin: -15px;
}

.card {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 250ms;
    align-items: center;
    border-radius: 16px;
    border: #9b9d9f45 solid 1px;
    cursor: pointer;
    overflow: hidden;

    &:hover, &:focus {
        box-shadow: 0 14px 44px rgba(0, 0, 0, 0.2);
        transform: translate(0,-5px), scale(1);
    }
}

.text_card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-right: 8px;
}

.card_price{
    color: rgb(255, 102, 0);
    font-size: 2.25rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.006em;
}

.card_position{
    display: flex;
}