:root {
  $primary-bg-color: #1b1213;
  $second-bg-color: #ffffff;
  $primary-text-color: #ffffff;
  $second-text-color: #000000;
  $btn-bg-color: #f60;
  $btn-primary-text-color: #ffffff;
  //   $first-text-logo-color: #2196f3;
  //   $second-text-logo-color: #ffffff;
  //   $background-head-color: #ffffff;
  //   $background-work-color: #e5e5e5;
  //   $background-comand-color: #f5f4fa;
  //   $background-footer-color: #2f303a;
  //   $p-text: #212121;
  //   $p-text-color: #757575;
  //   $contakt-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: $primary-bg-color;
  color: var($primary-text-color);
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  font-weight: 700px;
  line-height: 1.166;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @media screen and (max-width: 479px) {
    width: 320px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // @media screen and (min-width: 1024px) {
  //   width: 1024px;
  // }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
