.videoteka {
    padding: 30px 0;
    background: #1b1213;
    color: #ffffff;
}

.masonry {
    columns: 3;
    column-gap: 16px;

    @media (max-width: 1200px) {
        columns: 3;
    }

    @media (max-width: 768px) {
        columns: 2;
    }

        @media (max-width: 500px) {
            columns: 1;
        }

    //@media (max-width: 768px) {columns: 1;}
    .grid {
        display: inline-block;
        margin-bottom: 16px;
        position: relative;

        &:before {
            border-radius: 20px;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .2);
        }

        img {
            width: 100%;
            border-radius: 20px;
        }

        &__title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 1.01;
            font-weight: bold;
            margin: 0px 0px 10px 0px;
        }

        &__author {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.37;            
            color: rgba(255, 255, 255, 0.7);
        }

        &__link {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &__body {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 30px 30px;
            color: #fff;
            display: flex;
            flex-direction: column;
        }

        &__tag {
            font-family: 'Roboto';
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            background-color: #f60;
            color: #fff;
            border-radius: 5px;
            padding: 5px 15px;
            margin-bottom: 5px;
        }
    }
}

.mt-auto {
    margin-bottom: auto;
    margin-left: auto;
}